.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #eee;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}
.logo {
    padding: 20px 16px;
    border-bottom: 1px solid #eee;
}

.nav {
    padding: 16px 0;
}

/* Botão para acionar o menu em dispositivos móveis */
/* Oculto em telas maiores */
.menuToggle {
    display: none;
}

/* Estilos para telas móveis */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease, visibility 0.3s ease;
        visibility: hidden;
        height: 100vh;
    }
    
    .sidebar.active {
        transform: translateX(0);
        visibility: visible;
    }

    .logo{
        /* padding: 20px 16px; */
        padding: 0;
        margin: 0 auto;
        border-bottom: 1px solid #eee;
        max-width: 100px;
        padding-top: 5px;
    }

    .menuToggle {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        background: transparent;
        border: none;
        z-index: 1100;
        cursor: pointer;
        font-size: 1.5rem;
    }
}
